* {
    padding: 5px;
    margin: 0;
}
.img {
    width: 350px;
}

.pinguim {
    color: blueviolet;
}

.paragrafos {
    background-color: bisque;
    width: 80%;
    height: 600px;
    overflow: auto;
    text-align: justify;
}

